{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "CosmosDbConnectionString": "AccountEndpoint=https://...",
    "ServiceBusConnection": "Endpoint=sb://...",
    "FUNCTIONS_WORKER_RUNTIME": "python"
  }
}
